*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}
body{
    background-image: url("https://cdn.shopify.com/s/files/1/0088/2058/8659/articles/sean-o-KMn4VEeEPR8-unsplash_2048x2048.jpg?v=1577988713");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
}
h1{
    width: 100%;
    border:1px solid black;
    text-align: center;
    font-size: 80px;
}

.container{
    width: 600px;
    margin: 0 auto;
}
.world_clock{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/*js class*/
h3{
    font-size: 45px;
}
.time{
    display: flex;
    justify-content: flex-end;
    font-size: 38px;
}
.time-table{
    width: 100%;
}
.time-table tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px 15px;
}
.DMY_combine{
    background-color: lightskyblue;
    padding: 5px 20px;
    width: 120px;
    text-align: center;
    border-radius: 25px;
}
